@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin 0
  padding 0
  border 0
  font-size 100%
  font inherit
  vertical-align baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
  display block
body
  line-height 1
ol, ul
  list-style none
blockquote, q
  quotes none
blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none
table
  border-collapse collapse
  border-spacing 0



body
  font-family "Montserrat", sans-serif
  .container
    .navbar
      align-items flex-end
      justify-content space-between
      .navbar-collapse
        text-align right
        .navbar-nav
          margin-left 20px
          .nav-item
            .nav-link
              color #393939
              font-size 18px


      .contactUs
        padding 0
        .row
          display flex
          align-items center
          justify-content space-between
          padding 0
          span
            color #303030
            line-height 32px
            font-size 19px
            font-weight 600
            padding  0

          button
            background-color #ef323b
            color white
            height 50px
            border-radius 8px
            width 100%
            text-align left
            padding 0 20px
            font-size 16px
            font-weight 600
            &:after
              content ""
              display inline-block
              position relative
              height 10px
              width 20px
              background url("../img/arrow.png")
              margin-left 20px










@media screen and (max-width: 1200px)
  body
    .container
      .navbar
        .navbar-collapse
          .navbar-nav
            .nav-item
              .nav-link
                font-size 14px
@media screen and (max-width: 576px)
  .container
   .navbar
    .contactUs
      .row
        button
          max-width 230px
          width 100%
          text-align left
          padding 0 20px
          font-size 16px
          font-weight 600
          &:after
            content ""
            display inline-block
            position relative
            height 10px
            width 20px
            background url("../img/arrow.png")
            margin-left 20px